.area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--area-porta-largura);
  height: var(--area-porta-altura);
  margin: 5px;
}

.chao {
  height: 10px;
  width: 100%;
  background-color: #ddd;
}
.estrutura {
  display: flex;
  flex-grow: 1;
  border-left: var(--borda-porta);
  border-top: var(--borda-porta);
  border-right: var(--borda-porta);
  width: 90%;
}

.numero {
  font-size: 3rem;
}

.porta {
  display: flex;
  flex-direction: column;
  background-color: chocolate;
  align-items: center;
  padding: 15px;
  flex-grow: 1;
}



