.porta {
  display: flex;
  flex-direction: column;
  background-color: chocolate;
  align-items: center;
  padding: 15px;
  /* temp */
  width: var(--area-porta-largura);
  height: var(--area-porta-altura);
  

}

.numero {
  font-size: 3rem;
}