.area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--area-porta-largura);
  height: var(--area-porta-altura);
  margin: 5px;
}

.chao {
  height: 10px;
  width: 100%;
  background-color: #ddd;
}
.estrutura {
  display: flex;
  flex-grow: 1;
  border-left: var(--borda-porta);
  border-top: var(--borda-porta);
  border-right: var(--borda-porta);
  background-color: #0005;
  width: 90%;
}

.macaneta {
  position: absolute;
  align-self: flex-start;
  top: calc(0.45 * var(--area-porta-altura));
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: brown;
}

.numero {
  font-size: 3rem;
}

.porta {
  display: flex;
  flex-direction: column;
  background-color: chocolate;
  align-items: center;
  padding: 15px;
  flex-grow: 1;
}

.selecionada{
  border-left: var(--borda-porta-selecionada);
  border-top: var(--borda-porta-selecionada);
  border-right: var(--borda-porta-selecionada);
}

.selecionada .numero{
  color: yellow;
}

.selecionada .macaneta{
  background-color: yellow;
}