.porta {
  display: flex;
  flex-direction: column;
  background-color: chocolate;
  align-items: center;
  padding:15px;
  /* temp */
  width: 200px;
  height: 310px;
  

}

.numero {
  font-size: 3rem;
}